.useful {
    background: url('../imgs/bg.jpg') no-repeat center / cover;
    padding: 80px 0 80px 60px;
    border: 6px solid #FFD6B6;
}

.section-title {
    font-size: 82px;
    line-height: 74px;
    color: #D78C69;
}

.useful-list {
    padding-left: 18px;
}

.useful-list li {
    margin-bottom: 8px;
}

.useful-image {
    border: 6px solid #FFD6B6;
    max-width: 500px;
    margin-top: -380px;
    margin-left: -129px;
    position: absolute;
}

#program {
    padding: 180px 0 100px 0;
}

#program .right-img {
    position: relative;
}

#program p {
    font-size: 22px;
    max-width: 540px;
    line-height: normal;
}


@media (max-width: 1199px) {
    .section-title {
        font-size: 76px;
        line-height: 68px;
    }

    #program p {
        font-size: 21px;
    }
}

@media (max-width: 991px) {
    .section-title {
        font-size: 68px;
        line-height: 62px;
    }

    #program {
        padding: 50px 0;
        text-align: center;
    }

    .useful {
        padding: 70px;
    }

    #program p {
        font-size: 22px;
    }

    .right-img {
        display: flex;
        justify-content: center;
    }

    .useful-image {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: -75px;
        max-width: 540px;
        position: unset;
    }
}

@media (max-width: 767px) {
    .section-title {
        font-size: 48px;
        line-height: 46px;
    }

    #program p {
        font-size: 18px;
        line-height: 1.4;
    }

    .useful-image {
        max-width: 100%;
    }
}
