.materials {
    padding: 80px 0;
}

.material-btn {
    color: #4F7290 !important;
    border: 1px solid #4F7290;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    width: 180px;
    height: 40px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.material-btn.active {
    position: relative;
    z-index: 11;
}

.material-item-paper {
    font-size: 21px;
    margin: 1rem 0;
}

.material-item img {
    margin-bottom: 10px;
    max-width: 95px;
}

.material-item p {
    font-size: 22px;
    line-height: normal;
    color: #4F7290;
    font-weight: 700;
    text-align: center;
    margin: 20px auto 0;
}

.material-paints {
    position: relative;
}

.paint-dropdown {
    position: absolute;
    top: 145px;
    left: 0;
    margin-top: 10px;
    width: 525px;
    height: 530px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.material-paints.active .paint-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.paint-box {
    background: #fff;
    border: 2px solid #a8c4e6;
    border-radius: 16px;
    padding: 90px 20px 20px 20px;
    display: flex;
    gap: 30px;
    width: 100%;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .15);
}

.paint-col ul {
    padding-left: 25px;
    margin: 0;
}

.paint-col li {
    margin-bottom: 6px;
    font-size: 20px;
    text-align: start;
}

.paint-col li::marker {
    color: #FFA245;
}


@media (max-width: 991px) {
    .material-btn {
        margin: 30px auto;
    }

}

@media (max-width: 768px) {
.paint-dropdown {
max-width: 100%;
}
}